html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(to left, $grad-start-color , $grad-end-color);
  background-size: auto 100%;
  font: normal 300 13px/16px Lato;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  height: 100%;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}