@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_reset.scss */ *, *:before, *:after { margin: 0; padding: 0; outline: 0; box-sizing: border-box; }

/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_base.scss */ html, body { height: 100%; }

/* line 5, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_base.scss */ body { background-image: linear-gradient(to left, #525252, #3d72b4); background-size: auto 100%; font: normal 300 13px/16px Lato; }

/* line 11, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_base.scss */ a { text-decoration: none; }

/* line 15, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_base.scss */ ul { list-style-type: none; }

/* line 19, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_base.scss */ .wrapper { height: 100%; }

/* line 23, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_base.scss */ .clear:after { content: ""; display: table; clear: both; }

/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/base/_typography.scss */ h1 { font-weight: 100; font-size: 90px; text-align: center; width: 100%; color: rgba(255, 255, 255, 0.5); position: absolute; top: 50%; transform: translateY(-50%); }

/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_states.scss */ .fade-out { transition: .5s opacity linear; opacity: 0 !important; }

/* line 6, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_states.scss */ .fade-in { transition: .5s opacity linear; opacity: 1 !important; }

/* line 11, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_states.scss */ .hide { display: none !important; }

/* line 15, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_states.scss */ .show { display: block !important; }

/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header { padding: 40px; }

/* line 4, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header a { border: 1px solid rgba(255, 255, 255, 0.5); color: rgba(255, 255, 255, 0.5); padding: 8px 20px; border-radius: 3px; position: relative; }

/* line 11, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header a:hover, header a.active-main-nav { background-color: rgba(255, 255, 255, 0.1); color: white; }

/* line 18, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header .github a { padding-left: 40px; }

/* line 21, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header .github a:before { content: ""; display: inline-block; background-image: url("../images/github.svg"); height: 16px; width: 16px; background-size: 100% auto; margin-right: 7px; position: absolute; left: 18px; top: 8px; opacity: .5; }

/* line 36, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header .github a:hover:before { opacity: 1; }

/* line 42, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header ul { float: right; }

/* line 46, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_header.scss */ header li { float: left; margin-left: 30px; }

/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_main-title.scss */ .fade-out-title { transition: .5s color linear; color: rgba(255, 255, 255, 0.1); }

/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_key.scss */ .show-key { font-size: 300px; position: absolute; text-align: center; font-weight: 300; width: 100%; color: rgba(255, 255, 255, 0.5); top: 50%; transform: translateY(-50%); }

/* line 1, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .code-modal { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40%; min-width: 600px; min-height: 200px; border-radius: 3px; max-width: 650px; border: 1px solid rgba(255, 255, 255, 0.5); }

/* line 13, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .code-modal pre { font-size: 16px; color: white; margin-top: 30px; padding: 0 35px; }

/* line 21, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .code-nav { margin: 20px 40px; }

/* line 24, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .code-nav li { float: left; width: 50%; text-align: center; font-size: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/* line 32, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .code-nav a { color: rgba(255, 255, 255, 0.5); padding: 10px; padding-bottom: 20px; display: block; }

/* line 39, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .code-nav .active-code-nav { border-bottom: 1px solid white; }

/* line 42, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .code-nav .active-code-nav a { color: white; }

/* line 48, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .modal-controls { border-top: 1px solid rgba(255, 255, 255, 0.5); margin: 20px 40px; }

/* line 52, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .modal-controls ul { float: right; }

/* line 56, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .modal-controls li { float: left; padding: 15px 20px; }

/* line 61, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .modal-controls a { color: rgba(255, 255, 255, 0.5); display: block; font-size: 14px; }

/* line 67, /Applications/MAMP/htdocs/keycodes/stylesheets/sass/modules/_modal.scss */ .modal-controls p { float: left; line-height: 46px; color: rgba(255, 255, 255, 0.5); }
